<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vue List Rendering</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet">
    <script src="js/vue.js"></script>
</head>
<body>
    <!-- <ul id="demo">
        <li v-for = "item of items">{{item.message}}</li>
        <span v-for="n in 5"> {{ n }} </span>
    </ul>

    <ul id="demo1">
        <li v-for = "(item, index) in items"> {{ parentMessage }} - {{index}} - {{item.message}}</li>
    </ul> -->

    <!-- <div class="container">
        <h1>Hello Bootstrap, sit next to Vue</h1>
        <ul class="list-group">
            <li class="list-group-item" v-for = "i in 12">{{ i }} items 4 euqals {{ i * 4}}</li>
        </ul>
    </div> -->
    <div class="container">
        <h1>let's hear some stories!</h1>
        <div>
            <ul class="list-groud">
                <li class="list-group-item" v-for="story,key,index in stories">
                 {{index}}  {{key}} {{story}}
                </li>
            </ul>
        </div>
        <pre>{{$data}}</pre>
    </div>
<script>
    var vm3 = new Vue({
        el:'.container',
        data:{
            stories:
                {
                    plot:"I love you",
                    writer:'baojun'
                },
                // {
                //     plot:"did you love me",
                //     writer:'jhon'
                // },
                // {
                //     plot:"i have some words to say.",
                //     writer:'Alex'
                // }

        }
    })





























    // var vm1 = new Vue({
    //     el:'#demo1',
    //     data: {
    //         parentMessage:'parent',
    //         items :[
    //             {message:'foo'},
    //             {message:'bar'},
    //             {message:'foo bar'}
    //         ]
    //     }
    // })
    // var vm = new Vue({
    //     el:'#demo',
    //     data: {
    //         items :[
    //             {message:'foo'},
    //             {message:'bar'},
    //             {message:'foo bar'}
    //         ]
    //     }
    // })

</script>

</body>
</html>
